<section class="contacts">
    <div class="contacts-wrapper">

        <div class="contacts-news">
            <div class="contacts-news-left">
                <div class="contacts-news-left__title">We'll keep you posted.</div>
                <div class="contacts-news-left__subtitle">Get updates, special offers and event info, straight to your
                    inbox.</div>
            </div>
            <div class="contacts-news-right">
                <button>Newsletter Signup</button>
            </div>
        </div>
        <hr>
        <div class="contacts-blocks">
            <div>
                <img src="../../../assets/images/contacts/Vector (3).png" alt="">
            </div>
            <div>
                <p>Explore</p>
                <p>events</p>
                <p>community</p>
                <p>about</p>
            </div>
            <div>
                <p>News</p>
                <p>careers</p>
                <p>leasing</p>
                <p>contact</p>
            </div>
            <div>
                <p>100 Midway Road, Suite 14</p>
                <p>Cranston, RI 02920</p>
                <p>401-942-2800</p>
            </div>
        </div>
        <hr>
        <div class="contact-footer">
            <div>
                ©2021 WS Development
            </div>
            <span>|</span>
            <div>
                Privacy
            </div>
            <span>|</span>
            <div>
                Terms of Use
            </div>
            <span>|</span>
            <div>
                Community Rules
            </div>
            <span>|</span>
            <div>
                Made By
            </div>
            <span>|</span>
            <div>
                Ideabar
            </div>
        </div>
    </div>

</section>