@import "swiper/swiper-bundle.css";

.swiper {
  height: 628px;
  background: #f4c3cc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .swiper-container-2 {
    position: relative;
    .swiper-wrapper {
      width: 1700px;
      .swiper-slide {
        // height: 200px;
        // background-color: #fff;
        .image img {
        }
        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #ffffff;
          border-radius: 30px;
          width: 102px;
          height: 30px;
          color: #ef3340;
          margin-top: 37px;
          margin-bottom: 14px;
        }
        .title {
          width: 300px;
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 34px;
          letter-spacing: 4.16px;
          text-transform: uppercase;
          color: #000000;
          margin-bottom: 18px;
        }
        .subtitle {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 15px;
          letter-spacing: 2.4px;
          text-transform: uppercase;
          color: #000000;
          p {
            margin-bottom: -3px;
          }
        }
      }
    }
    .swiper-button-prev {
      position: absolute;
      top: 120px;
      left: 150px;
      z-index: 11;
      height: 50px;
      width: 80px;
      border-radius: 50px;
      background-color: #fff;
      color: black;
    }
    .swiper-button-next {
      position: absolute;
      top: 120px;
      right: 150px;
      z-index: 11;
      height: 50px;
      width: 80px;
      border-radius: 50px;
      background-color: #fff;
      color: black;
    }
  }
}
