<section class="swiper">

    <!-- Slider main container -->
    <div class="swiper-container-2">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="image">
                    <img src="../../../assets/images/explore/Rectangle.png" alt="">
                </div>
                <div class="btn">explore</div>
                <div class="title">Crate & Barrel</div>
                <div class="subtitle">
                    <p>Learn More</p>
                    <img src="../../../assets/images/explore/wave2.png" alt="">
                    <img src="../../../assets/images/explore/wave2.png" alt="">
                    <img src="../../../assets/images/explore/wave2.png" alt="">
                    <img src="../../../assets/images/explore/wave2.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image">
                    <img src="../../../assets/images/explore/Rectangle (1).png" alt="">
                </div>
                <div class="btn">explore</div>
                <div class="title">Dine safely at Garden City Center</div>
                <div class="subtitle">
                    <p>Learn More</p>
                    <img src="../../../assets/images/explore/wave2.png" alt="">
                    <img src="../../../assets/images/explore/wave2.png" alt="">
                    <img src="../../../assets/images/explore/wave2.png" alt="">
                    <img src="../../../assets/images/explore/wave2.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image">
                    <img src="../../../assets/images/explore/Rectangle (2).png" alt="">
                </div>
                <div class="btn">explore</div>
                <div class="title">Our History</div>
                <div class="subtitle">
                    <p>Learn More</p>
                    <img src="../../../assets/images/explore/wave2.png" alt="">
                    <img src="../../../assets/images/explore/wave2.png" alt="">
                    <img src="../../../assets/images/explore/wave2.png" alt="">
                    <img src="../../../assets/images/explore/wave2.png" alt="">
                </div>
            </div>
        </div>


        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>


    </div>
</section>