<section class="about">
    <div class="about-wrapper">
        <div class="about-wrapper-content">
            <div class="about-cwrapper-content__title">Around here lately</div>
            <div class="about-cwrapper-content__subtitle">We're always up to something good. Follow along and don't miss
                a minute.</div>
            <div class="about-cwrapper-content__follow">Follow Us</div>
        </div>
    </div>

    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="../../../assets/images/about/Rectangle.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="../../../assets/images/about/Rectangle (1).png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="../../../assets/images/about/Rectangle (2).png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="../../../assets/images/about/Rectangle (3).png" alt="">
            </div>
        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
</section>