<section class="community">
    <div class="image">
        <img src="../../../assets/images/community/Rectangle.png" alt="">
    </div>
    <div class="content">
        <div class="content-wrapper">

            <div class="content__title">A modern retreat with small-town charm</div>
            <div class="content__subtitle">Fresh air, local flavors, favorite everything. There's always something new
                to
                taste and do at Garden City Center. Come
                discover a Rhode Island classic.</div>
            <div class="content__button">
                <button>Take A Look</button>
            </div>
        </div>
    </div>
</section>