<section class='header'>
    <div class="container-main">
        <div class="navigation">
            <div class="logo">garden city center</div>
            <div class="menu">
                <div class="menu-item">explore</div>
                <div class="menu-item">events</div>
                <div class="menu-item">community</div>
                <div class="menu-item">about</div>
                <div class="menu-item">contact</div>
            </div>
        </div>
        <div class="content">
            <div class="content-image">
                <img src="../../../assets/images/Rectangle.png" alt="">
            </div>
            <div class="content-wrapper">
                <div class="content-info">
                    <div class="content-info__title">A BEAUTIFUL DAY IS IN BLOOM</div>
                    <div class="content-info__subtitle">Welcome to Garden City Center, a destination for old favorites,
                        new
                        discoveries and everyday delights.</div>
                    <div class="content-info__btn">

                        <img src="../../../assets/images/header/dir.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>