<section class="brands">
    <div class="brands-wrapper">
        <div class="brands-wrapper-item">
            <img src="../../../assets/images/brands/Vector (3).png" alt="">
        </div>
        <div class="brands-wrapper-item">
            <p>@gardencitycenter</p>
        </div>
        <div class="brands-wrapper-item">
            <img src="../../../assets/images/brands/Vector (3).png" alt="">
        </div>
        <div class="brands-wrapper-item">
            <p>@gardencitycenter</p>
        </div>
        <div class="brands-wrapper-item">
            <img src="../../../assets/images/brands/Vector (3).png" alt="">
        </div>
        <div class="brands-wrapper-item">
            <p>@gardencitycenter</p>
        </div>
        <div class="brands-wrapper-item">
            <img src="../../../assets/images/brands/Vector (3).png" alt="">
        </div>
        <div class="brands-wrapper-item">
            <p>@gardencitycenter</p>
        </div>
        <div class="brands-wrapper-item">
            <img src="../../../assets/images/brands/Vector (3).png" alt="">
        </div>
        <div class="brands-wrapper-item">
            <p>@gardencitycenter</p>
        </div>
        <div class="brands-wrapper-item">
            <img src="../../../assets/images/brands/Vector (3).png" alt="">
        </div>
        <div class="brands-wrapper-item">
            <p>@gardencitycenter</p>
        </div>
        <div class="brands-wrapper-item">
            <img src="../../../assets/images/brands/Vector (3).png" alt="">
        </div>
        <div class="brands-wrapper-item">
            <p>@gardencitycenter</p>
        </div>

    </div>
</section>