<section class="events">
    <div class="events-wrapper">

        <div class="events-wrapper__item">
            <h1>Let's Go</h1>
            <div class="events-wrapper__item_img">
                <img src="../../../assets/images/events/Rectangle.png" alt="">
            </div>
            <div class="events-wrapper__item_text">Food & Drink</div>
        </div>
        <div class="events-wrapper__item">
            <div class="events-wrapper__item_img">
                <img src="../../../assets/images/events/Rectangle (1).png" alt="">
            </div>
            <div class="events-wrapper__item_text">Fashion & Style</div>
        </div>
        <div class="events-wrapper__item">
            <div class="events-wrapper__item_img">
                <img src="../../../assets/images/events/Rectangle (2).png" alt="">
            </div>
            <div class="events-wrapper__item_text">Home</div>
        </div>
        <div class="events-wrapper__item">
            <div class="events-wrapper__item_img">
                <img src="../../../assets/images/events/Rectangle (3).png" alt="">
            </div>
            <div class="events-wrapper__item_text">Health & Beauty</div>
        </div>
        <div class="events-wrapper__item">
            <div class="events-wrapper__item_img">
                <img src="../../../assets/images/events/Rectangle (4).png" alt="">
            </div>
            <div class="events-wrapper__item_text">Offices</div>
        </div>
        <div class="events-wrapper__item">
            <div class="events-wrapper__item_img">
                <img src="../../../assets/images/events/Rectangle (5).png" alt="">
            </div>
            <div class="events-wrapper__item_text">Specialty & Services</div>
        </div>

    </div>
</section>